## 練習題
目標: 建立一深度學習模型預測客戶是否流失

In [1]:
import pandas
df = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/cathaydl/master/Data/Churn_Modelling.csv', header = 0 )
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [2]:
df = df.iloc[:,3:]

In [3]:
geo = pandas.get_dummies(df['Geography']).drop('France', axis= 1)

In [4]:
gender = df['Gender'].replace({'Male':1, 'Female':0})

In [5]:
df2 = pandas.concat([geo, gender, df.drop(['Geography', 'Gender'], axis=1)], axis = 1)
df2.head()

,Germany,Spain,Gender,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,0,0,619,42,2,0.00,1,1,1,101348.88,1
1,0,1,0,608,41,1,83807.86,1,0,1,112542.58,0
2,0,0,0,502,42,8,159660.80,3,1,0,113931.57,1
3,0,0,0,699,39,1,0.00,2,0,0,93826.63,0
4,0,1,0,850,43,2,125510.82,1,1,1,79084.10,0

## 問題1: 利用df 產生 X,y

## 問題2: 請將資料區分為訓練與測試資料集

## 問題3: 請將資料標準化

##問題4: 使用Pytorch 建立深度學習模型預測客戶是否流失

## 問題5: 評估模型準確度